<!--    This is based on the original footer file
        https://github.com/chrisrhymes/bulma-clean-theme/blob/5efd9b84fb5f727f5918a5a3e60036c2d058772d/_includes/showcase.html
-->

{% if page.showcase %}
    {% assign showcase = site.data.[page.showcase].items | sort:"dateval" | reverse%}

    {% for item in showcase %}
        {% assign event_date = item.dateval | date: "%B %d, %Y" }
        {% if item.date %}
            {% if item.year %}
                {% assign event_date = {{item.date}} | append: ", " | append: {{item.year}}}
            {% endif %}
        {% endif %}


        <section class="showcase">
                
            <div class="showcase-content">
                <div class="columns is-centered">
                    <div class="column is-8-desktop is-12-tablet">

                        {%if item.youtube %}
                            {% include youtube.html video=item.youtube %}
                        {% endif %}
                        {%if item.vimeo %}
                            {% include vimeo.html video=item.vimeo %}
                        {% endif %}
                        <img src="{{ item.img | relative_url }}" />

                        
                        <p class="title">{{ item.title }}</p>
                        <p class="subtitle">{{ item.by }}</p>

                        <div class="content">
                            <!--<p>{{ item.description | markdownify }}</p>-->
                            {{item.event}} - {{event_date}}
                        </div>

                        <a href="{{ item.url }}" class="button is-primary">
                            Event Link
                        </a>
                    </div>
                </div>

            </div>
        </section>
    {% endfor %}
{% endif %}
