<!--    This is based on the original footer file
        https://github.com/chrisrhymes/bulma-clean-theme/blob/5efd9b84fb5f727f5918a5a3e60036c2d058772d/_includes/showcase.html
-->

{% if page.showcase %}
    {% assign showcase = site.data.[page.showcase].items | sort:"dateval" %}

        {% if page.show_events %}
            {% if page.show_events == "past" %}
            {% assign showcase = showcase | reverse %}
            {% endif %}
        {% endif %}    

    {% for item in showcase %}

        {% assign process_event = true %}
        
        {% if page.show_events %}
            
            {% assign today_date = 'now' | date: '%s' %}
            {% assign event_date = item.dateval | date: '%s' %}

            {% if page.show_events == "future" %}
                {% if event_date < today_date %}
                    {% assign process_event = false %}
                {% endif %}
            {% endif %}
            {% if page.show_events == "past" %}
                {% if event_date >= today_date %}
                    {% assign process_event = false %}
                {% endif %}
            {% endif %}
        {% endif %}
        
        {% if process_event == true %}

            {% assign event_date = item.dateval | date: "%B %d, %Y" }
            {% if item.date %}
                {% if item.year %}
                    {% assign event_date = {{item.date}} | append: ", " | append: {{item.year}}}
                {% endif %}
            {% endif %}


            <section class="showcase">
                    
                <div class="showcase-content">
                    <div class="columns is-centered">
                        <div class="column is-8-desktop is-12-tablet">

                            {%if item.youtube %}
                                {% include youtube.html video=item.youtube %}
                            {% endif %}
                            {%if item.vimeo %}
                                {% include vimeo.html video=item.vimeo %}
                            {% endif %}
                            <img src="{{ item.img | relative_url }}" />

                            
                            <p class="title">{{ item.event }}</p>
                            <p class="subtitle">{{ item.title }}</p>

                            <div class="content content-center">
                                <!--<p>{{ item.description | markdownify }}</p>-->
                                {{item.by}} - {{event_date}}
                            </div>

                            <a href="{{ item.url }}" class="button is-primary" target="_blank" rel="noopener noreferrer" >
                                Event Link
                            </a>
                        </div>
                    </div>

                </div>
            </section>
        {% endif %}
    {% endfor %}
{% endif %}
