---
---

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

$primary: #f79421;
$link: #f79421;

// $size-1: 3rem;
$size-2: 2.4rem; //title
$size-3: 1.9rem; //subtitle
// $size-4: 1.5rem;
// $size-5: 1.25rem;
// $size-6: 1rem;
// $size-7: 0.75rem; //content is-small

$body-size: 1.1rem;


$body-family: 'Ubuntu', 'Nunito Sans', Calibri, Verdana, Segoe, Arial, sans-serif;


// Import Main CSS file from theme
@import "main";


.content {
	text-align: justify
}

// Keep certain content items around the site centered rather than justified.
// Generally where there is only minimal text
.content-center {
	text-align: center
}

// Make logo in navbar slightly bigger (in header.html)
.navbar-item-logo img {
    max-height: 2.5rem;
}

.modal-content-narrower {
	max-width: 500px;
	background-color: #FFFFFF;
}