---
layout: default
title: Fred
hero_height: is-small
hide_hero: true
hero_height: is-small
---

<!--
    This is based on https://github.com/chrisrhymes/bulma-clean-theme/blob/5efd9b84fb5f727f5918a5a3e60036c2d058772d/_layouts/product.html
-->

<div class="columns is-multiline">

    <p class="title is-4">{{page.title}}</p>
        <div class="content">
            
    
            {{ content }}

            <br><a href="{{page.backlink}}">Back to <strong>Our {{page.backname}}</strong></a>
        </div>
    </div>

    

    


</div>

