---
layout: default
title: Fred
---

<!--
    This is based on https://github.com/chrisrhymes/bulma-clean-theme/blob/5efd9b84fb5f727f5918a5a3e60036c2d058772d/_layouts/product.html
-->

<div class="columns is-multiline">

    <div class="column is-6">
        <!--<figure class="image is-3by3">-->
        <figure class="image">
            <img src="{{ page.img }}" />
        </figure>
    </div>

    <div class="column is-6">
        <!--<p class="title is-3">{{ page.title }}</p>
        <p class="subtitle is-3">{{ page.subtitle }}</p>-->
                     
        <!--</div>
            Before, description was under the picture, removing this
            moves the description to next to the picture.
        <div class="column is-10">-->
        
        <p class="title is-4">Description</p>
        <div class="content">
            
    
            {{ content }}
        </div>

        {% if page.contacts %}
            {% include contacts.html contacts=page.contacts %}
        {% endif %}
        <br>
        <a href="/team">Back to <strong>Our Team</strong></a>
    </div>

</div>

